/* Fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.dropdown-menu {
  min-width: 0px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto; }


.habit-row {
	position: relative;
	background-color: lightcoral;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 3px 10px 3px 20px;
}
.habit-row.checked {
	background-color: yellowgreen;
}

p { margin:0 }

.habit-check {
	position: absolute;
	font-size: 5em;
	z-index:10;
}

.glyphicon-ok-small {
	color: #4C9900;
	right: 15px;
}

.glyphicon-remove-small {
	color: #990000;
	right: 10px;
}

.fa-circle-o {
	color: #990000;
}

.fa-check-circle-o {
	color: #4C9900;
}

.habit-title {
	background-color: lightgray;
	height: 80px;
	border-radius: 5px;
}







/* Center canvas. */
#canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-toolbar {
	text-align: center;
}

#dust {
	position:absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.table-nonfluid {
	width: auto;
}

#habit-history {
	position: relative;
}

#add-habit, #update-habits {
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

.col-md-1 {
    padding-left: 2px;
    padding-right: 2px;
}

.date-column {
	width: 110px !important;
}

#habit-table td,
#habit-table th,
#habit-name-row-table td,
#habit-name-row-table th {
	text-align: center;
	width: auto;
}

#habit-name-row-table {
	z-index: 10;
}

.habit-name-row {
	background: lightgray;
}

#habit-name-row-table,
#habit-table {
    position: absolute;
}

#habit-name-row-table tr.affix {
    top: 50px;
}

#habit-actions.affix {
	top: 50px;
}